<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sport</key>
		<string>Alpine Skiing</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Alpine Combined</string>
				<key>Rules</key>
				<string>These are the rules</string>
				<key>Description</key>
				<string>10km 
12.5km pursuit
14km mass start
20km
4x7.5km relay</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Downhill</string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Alpine Combined</string>
				<key>Rules</key>
				<string>Dont screw up</string>
				<key>Description</key>
				<string>Cool Sport</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Downhill</string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Biathlon</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Bobsleigh</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Cross Country Skiing</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Curling</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Figure Skating</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Freestyle Skiing</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Ice Hockey</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Ice Hockey</string>
				<key>Rules</key>
				<string>This is a tes for pushing to git</string>
				<key>Description</key>
				<string>Breakaway 
Delay of game 
Face-off
Goal     
Goaltender interference
Goal line     
Icing 
Offside     
Overtime 
Penalty     
Penalty box
Penalty shot 
Roughing
Short-handed</string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Luge</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Luge</string>
				<key>Rules</key>
				<string>Procedure:
  • athletes ride in flat, aerodynamic position
    on sled, keeping heads low to minimize 
    wind resistance
  • sled is steered by a mix of shifting weight,
    flexing sled’s runners with calf of each leg
    or exerting opposite shoulder pressure
    to seat
  • sliders ‘visualize’ course in their minds
    before run
  • best times result from following the perfect
    ‘line’ down the track
  • average speed of 120-145 km/h
    (75-90mph) and up to 5G’s
  • mens’ singles start location is near the
    bobsleigh and skeleton start location
  • doubles and women’s singles have
    start location further down track
  • athlete must cross finish line in contact
    with sled

Scoring:
  • runs timed electronically to 0.001 seconds
  • four runs over two days
  • medals decided by the shortest 
    cumulative time
  • lowest cumulative time determines rankings
  • winner is competitor with fastest
    combined times</string>
				<key>Description</key>
				<string>
Luge is a french word for sledge. Of the three Olympic sliding sports (bobsleigh, skeleton and luge) luge is the fastest and most dangerous. Competitors lye on their backs on a tiny sled with their feet outstretched in front of them. They reach speeds in the range of 140 km/h(87mph) with sleds that don’t have brakes.

Four luge disciplines
  • Men’s singles
  • Men’s doubles (larger of two team 
     members lying on top for better 
     aerodynamics)
  • Women’s singles
  • Team relay - each team enters 3 sleds 
     (men’s, women’s, doubles)after each
     athlete crosses finish line, they must
     hit a touch-pad that opens gate
     or team-mate, lowest cumulative time
     determines rankings

Equipment:
  • gloves - spiked at fingertips, asset at 
     start and padding motion
  • helmet - clear/tinted visors, extends
    under chin to reduce resistance
  • racing suit - specially designed to 
     reduce wind resistance
  • shoes/booties - special shoes with
    zippers, to straighten out foot when
    zipper is closed, regulations for
    insole and heel

Sled:   
  • 2 bridges -part of sled that connects
    the two runners which the aerodynamic
    racing shell is suspended, made of
    steel, two, one in from one in back
  • grip - each hand hold handle on 
    side of sled
  • 2 runner(kufens) -usually made of
    fiberglass or wood, sliders steer by
    applying press with foot onto the runners
  • pod - aerodynamic shell, serves as
    seat for athlete
  • 2 steels(steel runner) - two runners
    called steels, only part of sled that
    touches surface, attached to kufens
  • no brakes
  • weight: 21-25kg(46-55 lbs) for singles
    and 25-30 kilograms (55-66 lbs) for doubles

Dates:
8 February Men&apos;s singles runs 1 and 2
9 February singles runs 3 and 4
10 February Women&apos;s singles runs 1 and 2
11 February Women&apos;s singles runs 3 and 4
12 February Doubles runs 1 and 2
13 February Team relay </string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Luge</string>
				<key>Rules</key>
				<string>Procedure:
  • athletes ride in flat, aerodynamic position
    on sled, keeping heads low to minimize 
    wind resistance
  • sled is steered by a mix of shifting weight,
    flexing sled’s runners with calf of each leg
    or exerting opposite shoulder pressure
    to seat
  • sliders ‘visualize’ course in their minds
    before run
  • best times result from following the perfect
    ‘line’ down the track
  • average speed of 120-145 km/h
    (75-90mph) and up to 5G’s
  • mens’ singles start location is near the
    bobsleigh and skeleton start location
  • doubles and women’s singles have
    start location further down track
  • athlete must cross finish line in contact
    with sled

Scoring:
  • runs timed electronically to 0.001 seconds
  • four runs over two days
  • medals decided by the shortest 
    cumulative time
  • lowest cumulative time determines rankings
  • winner is competitor with fastest
    combined times</string>
				<key>Description</key>
				<string>
Luge is a french word for sledge. Of the three Olympic sliding sports (bobsleigh, skeleton and luge) luge is the fastest and most dangerous. Competitors lye on their backs on a tiny sled with their feet outstretched in front of them. They reach speeds in the range of 140 km/h(87mph) with sleds that don’t have brakes.

Four luge disciplines
  • Men’s singles
  • Men’s doubles (larger of two team 
     members lying on top for better 
     aerodynamics)
  • Women’s singles
  • Team relay - each team enters 3 sleds 
     (men’s, women’s, doubles)after each
     athlete crosses finish line, they must
     hit a touch-pad that opens gate
     or team-mate, lowest cumulative time
     determines rankings

Equipment:
  • gloves - spiked at fingertips, asset at 
     start and padding motion
  • helmet - clear/tinted visors, extends
    under chin to reduce resistance
  • racing suit - specially designed to 
     reduce wind resistance
  • shoes/booties - special shoes with
    zippers, to straighten out foot when
    zipper is closed, regulations for
    insole and heel

Sled:   
  • 2 bridges -part of sled that connects
    the two runners which the aerodynamic
    racing shell is suspended, made of
    steel, two, one in from one in back
  • grip - each hand hold handle on 
    side of sled
  • 2 runner(kufens) -usually made of
    fiberglass or wood, sliders steer by
    applying press with foot onto the runners
  • pod - aerodynamic shell, serves as
    seat for athlete
  • 2 steels(steel runner) - two runners
    called steels, only part of sled that
    touches surface, attached to kufens
  • no brakes
  • weight: 21-25kg(46-55 lbs) for singles
    and 25-30 kilograms (55-66 lbs) for doubles
    

Dates:
8 February Men&apos;s singles runs 1 and 2
9 February singles runs 3 and 4
10 February Women&apos;s singles runs 1 and 2
11 February Women&apos;s singles runs 3 and 4
12 February Doubles runs 1 and 2
13 February Team relay </string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Nordic Combined</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Short Track Speed Skating</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Short Track Speed Skating</string>
				<key>Rules</key>
				<string>
Individual Events:
  • Six individual competitions
    Men and Women
  • 500-meter, 1,000-meter, and 1,500-meter

Team Events:
  • Two team events in short track speed
  • 5,000-meter men&apos;s four-skater relay
  • 3,000-meter women&apos;s four-skater relay

Qualifying Heats:
  • 500-meter and 1,000-meter races
    eight qualifying heats are contested.
  • 1,500-meter race
    36 Olympians will compete in six
    qualifying heats.

Finals:
  • 500-meter and 1,000-meter events
    the top two finishers in each heat
    move on to the next round  of the
  • 1,500-meter
    Top three finishers in each heat
    advance to the next round
    Skaters can also advance if they are
    judged to have been interfered with during
    a heat

Medal Round:
  • Top two finishers in the two 500-meter and
    1,000-meter semifinal heats advance
    to the medal round
  • Top two finishers in three 1,500-meter
    semifinals will compete for gold
    Final - decides the medals

Relay Setup:
  • Eight teams will compete in each of the
    two relay competitions
  • Top two finishers in a pair of semifinal
    heats advance to the medal round
    will be decided by one race
    Teams can also advance if they were
    interfered with during a heat


Scoring:
  • Timed to one-thousandth of a second
  • ties are rare in this event
  • Referee is also present to ensure
    all skaters follow the rules of the
    competition

Disqualification:
  • multiple false starts
  • impeding other skaters
  • skating outside of the track

</string>
				<key>Description</key>
				<string>Short track speed skating is one of the most competitive events at the Olympic Winter Games.

Unlike its long track counterpart, where Olympians compete for the best overall time, short track speed skating is every man or woman for himself or herself. With skaters racing tightly in packs around a track roughly the size of an ice hockey rink, short track speed skating is fast, furious, and sometimes dangerous, as crashes sometimes occur in this event.

Equipment:
  • skates with long blades
  • skin-tight suits to achieve peak speeds
  • gloves, skaters often touch the ice
    while zooming through the turns
    helmets are mandatory

Dates:
  • five days of the Winter Games
  • 10 February men&apos;s 1,500-meter final
  • 13 February women&apos;s 500-meter final
  • 15 February gold medals will be decided
    men&apos;s 1,000-meter
    women&apos;s 1,500-meter events
  • 18 February women&apos;s relay final
  • 21 February medal rounds in the
    men&apos;s 500-meter
    women&apos;s 1,000-meter
    men&apos;s relay competitions

</string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Short Track Speed Skating</string>
				<key>Rules</key>
				<string>
Individual Events:
  • Six individual competitions
    Men and Women
  • 500-meter, 1,000-meter, and 1,500-meter

Team Events:
  • Two team events in short track speed
  • 5,000-meter men&apos;s four-skater relay
  • 3,000-meter women&apos;s four-skater relay

Qualifying Heats:
  • 500-meter and 1,000-meter races
    eight qualifying heats are contested.
  • 1,500-meter race
    36 Olympians will compete in six
    qualifying heats.

Finals:
  • 500-meter and 1,000-meter events
    the top two finishers in each heat
    move on to the next round  of the
  • 1,500-meter
    Top three finishers in each heat
    advance to the next round
    Skaters can also advance if they are
    judged to have been interfered with during
    a heat

Medal Round:
  • Top two finishers in the two 500-meter and
    1,000-meter semifinal heats advance
    to the medal round
  • Top two finishers in three 1,500-meter
    semifinals will compete for gold
    Final - decides the medals

Relay Setup:
  • Eight teams will compete in each of the
    two relay competitions
  • Top two finishers in a pair of semifinal
    heats advance to the medal round
    will be decided by one race
    Teams can also advance if they were
    interfered with during a heat


Scoring:
  • Timed to one-thousandth of a second
  • ties are rare in this event
  • Referee is also present to ensure
    all skaters follow the rules of the
    competition

Disqualification:
  • multiple false starts
  • impeding other skaters
  • skating outside of the track

</string>
				<key>Description</key>
				<string>Short track speed skating is one of the most competitive events at the Olympic Winter Games.

Unlike its long track counterpart, where Olympians compete for the best overall time, short track speed skating is every man or woman for himself or herself. With skaters racing tightly in packs around a track roughly the size of an ice hockey rink, short track speed skating is fast, furious, and sometimes dangerous, as crashes sometimes occur in this event.

Equipment:
  • skates with long blades
  • skin-tight suits to achieve peak speeds
  • gloves, skaters often touch the ice
    while zooming through the turns
    helmets are mandatory

Dates:
  • five days of the Winter Games
  • 10 February men&apos;s 1,500-meter final
  • 13 February women&apos;s 500-meter final
  • 15 February gold medals will be decided
    men&apos;s 1,000-meter
    women&apos;s 1,500-meter events
  • 18 February women&apos;s relay final
  • 21 February medal rounds in the
    men&apos;s 500-meter
    women&apos;s 1,000-meter
    men&apos;s relay competitions

</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Skeleton</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Skeleton</string>
				<key>Rules</key>
				<string>Scoring:
• two days of competition, two runs per day
• total of four runs
• once fourth run is complete, times of all runs are added together.
• competitor with fastest combined times is winner.

Procedure:
running start/push(up to @40 meters)within 30 seconds of start signal, spiked shoes assist, then dive/throw selves onto sled, lying prone, arms straight and tucked at their sides 
race down course, shifting body to control sled, shoulders and head steer
max sled weight 43kg - combined weight of sled and athlete cannot exceed 115 kilograms(253.53 pounds).</string>
				<key>Description</key>
				<string>Reappeared in Olympics in 2002
head first down frozen track or’run’(same as bobsleigh/luge) min 1200 m long, ascending sections must not comprise more that 12% of total distance
upward of speeds of 90mph/135kmh forces up to 5g(@space shuttle takeoff)
sled can only be ridden in prone postion(face first on stomach)
no steering mechanism on sled so riders use torque provide by head and  shoulders
no brakes on sled so riders use rakes on their boots and upward incline at end of finish line
rider may leave sled during run but must cross finish line on the sled for valid run
temp of sled runners  must be 4degreesC of the reference runner to prevent gaining advantage of heated runners
Runs timed electronically to 0.01 seconds

Equipment:
speed suit - skin tight to maximize aerodynamics of body
helmet with chin guard or skeleton-specific helmet
gloves
spiked shoes
googles or face shield
optional padding under suit, elbow or shoulder pads

sled   
board on top
tow blades under
handles to hold on to while going down run
no steering of=r brakes
front and rear bumpers, absorb shocks from wall
	Dimentions
	   Length:800-1200 mm
	   Height:80-200mm
	   Distance between runners:340-380mm

Dates:
February 13 - first tow heats of women’s racing.
February 14 - first tow heats of men’s racing
	women’s complete competition with medal round
February 15 - men’s final heats and medals awarded.</string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Skeleton</string>
				<key>Rules</key>
				<string>Scoring:
two days of competition, two runs per day
total of four runs
once fourth run is complete, times of all runs are added together.
competitor with fastest combined times is winner.

Procedure:
running start/push(up to @40 meters)within 30 seconds of start signal, spiked shoes assist, then dive/throw selves onto sled, lying prone, arms straight and tucked at their sides 
race down course, shifting body to control sled, shoulders and head steer
max sled weight 35kg - combined weight of sled and athlete cannot exceed 92 kilograms(208.82 pounds).</string>
				<key>Description</key>
				<string>Reappeared in Olympics in 2002
head first down frozen track or’run’(same as bobsleigh/luge) min 1200 m long, ascending sections must not comprise more that 12% of total distance
upward of speeds of 90mph/135kmh forces up to 5g(@space shuttle takeoff)
sled can only be ridden in prone postion(face first on stomach)
no steering mechanism on sled so riders use torque provide by head and  shoulders
no brakes on sled so riders use rakes on their boots and upward incline at end of finish line
rider may leave sled during run but must cross finish line on the sled for valid run
temp of sled runners  must be 4degreesC of the reference runner to prevent gaining advantage of heated runners
Runs timed electronically to 0.01 seconds

Equipment:
speed suit - skin tight to maximize aerodynamics of body
helmet with chin guard or skeleton-specific helmet
gloves
spiked shoes
googles or face shield
optional padding under suit, elbow or shoulder pads

sled   
board on top
tow blades under
handles to hold on to while going down run
no steering of=r brakes
front and rear bumpers, absorb shocks from wall
	Dimentions
	   Length:800-1200 mm
	   Height:80-200mm
	   Distance between runners:340-380mm

Dates:
February 13 - first tow heats of women’s racing.
February 14 - first tow heats of men’s racing
	women’s complete competition with medal round
February 15 - men’s final heats and medals awarded.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Ski Jumping</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Snowboarding</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Speed Skating</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
