<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sport</key>
		<string>Alpine Skiing</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Alpine Combined</string>
				<key>Rules</key>
				<string>These are the rules</string>
				<key>Description</key>
				<string>10km 
12.5km pursuit
14km mass start
20km
4x7.5km relay</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Downhill</string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Alpine Combined</string>
				<key>Rules</key>
				<string>Dont screw up</string>
				<key>Description</key>
				<string>Cool Sport</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Downhill</string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Biathlon</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Bobsleigh</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Cross Country Skiing</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Curling</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Figure Skating</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Freestyle Skiing</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Ice Hockey</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Luge</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Nordic Combined</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Short Track Speed Skating</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Skeleton</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Ski Jumping</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Snowboarding</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Sport</key>
		<string>Speed Skating</string>
		<key>Mens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
		<key>Womens</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Rules</key>
				<string></string>
				<key>Description</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
